$risk-1: rgba(27, 134, 238, 1);
$risk-2: rgba(242, 179, 64, 1);
$risk-3: rgba(181, 40, 40, 1);
$risk-g: rgba(212, 197, 249, 1);
$c-4-purple: rgba(132, 36, 226, 1);
$titlebar: rgba(40, 39, 124, 1);
$titlebar-interactive: rgba(32, 30, 97, 1);
$background: rgba(25, 11, 62, 1);
$header: rgba(40, 23, 90, 1);
$sidebar: rgba(17, 8, 38, 1);
$sidebar-border: rgba(41, 30, 72, 1);
$code-background: rgba(9, 6, 18, 1);
$highlight-purple: rgba(97, 76, 248, 1);
$highlight-blue: rgba(30, 137, 233, 1);
$highlight-goldenrod: rgba(242, 179, 64, 1);
$highlight-pink: rgba(209, 30, 228, 1);
$table-backround: #110826;
$table-border: #241b3b;

$text-white: #fff;

$padding: 30px;
$padding-half: 15px;
$padding-double: 60px;

$font-family: "Roboto", sans-serif;
$font-family-code: "Source Code Pro", monospace;
